/*
Error: Invalid CSS after "  }": expected selector or at-rule, was "}"
        on line 1532 of style.scss

1527:   .comments-panel {
1528:     width: 100%;
1529:     top: 60px;
1530:     height: calc(100vh - 140px);
1531:   }
1532: }
1533: 
1534: @media (max-width: 480px) {
1535:   .dashboard-main, .tab-content {
1536:     padding: 1rem;
1537:   }

Backtrace:
style.scss:1532
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:42:in `parse'
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/nix/store/bkg89sh78s7acm5dxma4y3fw99a0n0mb-ruby3.1-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/nix/store/s8xxvds2i4pw2byiyx24kbzwacpxb92s-sass-3.7.4/lib/ruby/gems/3.1.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/nix/store/sjybjr9h37lz2xkcnv8vmbzm1qcssda3-sass-3.7.4/bin/sass:35:in `load'
/nix/store/sjybjr9h37lz2xkcnv8vmbzm1qcssda3-sass-3.7.4/bin/sass:35:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected selector or at-rule, was \"}\"\A         on line 1532 of style.scss\A \A 1527:   .comments-panel {\A 1528:     width: 100%;\A 1529:     top: 60px;\A 1530:     height: calc(100vh - 140px);\A 1531:   }\A 1532: }\A 1533: \A 1534: @media (max-width: 480px) {\A 1535:   .dashboard-main, .tab-content {\A 1536:     padding: 1rem;\A 1537:   }"; }
